* {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei', arial, helvetica, clean, sans-serif;    
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #E2E2E2;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #888;
}


body {
    font: 14px/1.231 'Microsoft YaHei', arial, helvetica, clean, sans-serif;
    color: #333;
    margin: 0;
    line-height: 1.5;
}

:focus {
    outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #95a0aa ;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

li,
ul {
    list-style-type: none;
}

img {
    border: none;
}

input,
textarea {
    outline: 0;
    border: 0;
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
dt,
i,
em {
    font-weight: normal;
    font-style: normal;
}

.mainbody {
    padding: 20px 15px;
}

.indexbody {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bs {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
}

.well {
    background-color: #fff;
    padding: 15px;
    border: 0;
}

.well h3,
.well p {
    display: inline;
    color: #797979;
}

.well h3 {
    font-size: 15px;
}

.well h3 span {
    font-weight: bold;
    margin-right: 10px;
}

.well p span {
    color: #f00;
    margin-right: 10px;
}

.well p em {
    color: #333;
}

.report-data {
    margin-top: 50px;
    margin-bottom: 20px;
}

.report-data .item {
    height: 120px;
    margin-bottom: 20px;
}

.report-data .item .img {
    width: 85px;
    height: 85px;
    border-radius: 2px;
    margin-top: -40px;
}

.report-data .item .img img {
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
}

.report-data .item:hover .img img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.report-data .item .ri-1 {
    background-color: #04afff;
    box-shadow: 2px 2px 15px rgba(4, 175, 255, 0.41);
}

.report-data .item .ri-2 {
    background-color: #5cc360;
    box-shadow: 2px 2px 15px rgba(92, 195, 96, 0.41);
}

.report-data .item .ri-3 {
    background-color: #fc940c;
    box-shadow: 2px 2px 15px rgba(252, 148, 12, 0.41);
}

.report-data .item .ri-4 {
    background-color: #0dc1d7;
    box-shadow: 2px 2px 15px rgba(13, 193, 215, 0.41);
}

.report-data .item .info h4 {
    font-size: 12px;
    color: #7c7c7c;
    margin: 0;
}

.report-data .item .info span {
    font-size: 25px;
    color: #393939;
}

.report-data .item p {
    border-top: 1px solid #e1e1e1;
    font-size: 12px;
    margin: 18px 0 0;
    padding: 5px 0 5px 20px;
    color: #838383;
}

.report-data .item a {
    display: block;
    border-top: 1px solid #e1e1e1;
    font-size: 12px;
    margin: 18px 0 0;
    padding: 5px 0 5px 20px;
    color: #838383;
}

.report-data .item a:hover {
    color: #333;
}

.report-data .item p span {
    color: #393939;
}

.report-form {
    margin-top: 50px;
}

.report-form .report-form-tit {
    padding: 20px;
    border-radius: 2px;
    margin-top: -40px;
    color: #fff;
    margin-bottom: 20px;
}

.report-form .report-form-tit h4,
.report-form .report-form-tit span {
    margin: 0;
}

.report-form .report-form-tit:hover .more {
    margin-right: 20px;
}

.report-form .report-form-tit .more {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
}

.report-form .report-form-tit h4 {
    font-size: 15px;
}

.report-form .report-form-tit span {
    font-size: 10px;
    text-transform: uppercase;
}

.report-form .chart-tit {
    background: #04afff;
    box-shadow: 2px 2px 15px rgba(4, 175, 255, 0.41);
}

.report-form .chart-tit span {
    color: #a9e4ff;
}

.report-form .chart {
    width: 100%;
    height: 280px;
}

.report-form .data-tit {
    background: #ffa82f;
    box-shadow: 2px 2px 15px rgba(255, 168, 47, 0.41);
}

.report-form .data-tit span {
    color: #feebd1;
}

.stat-table {
    width: 100%;
}

.stat-table tr {
    border-bottom: 1px solid #dbdbdb;
    height: 35px;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
}

.stat-table tr:hover {
    background-color: #eee;
}

.report-form .date-form .tr-first {
    border-bottom: 2px solid #dbdbdb;
}

.report-form .date-form th {
    color: #ffa82f;
    font-weight: normal;
}

.report-form .ranking-tit {
    background: #5cc360;
    box-shadow: 2px 2px 15px rgba(92, 195, 96, 0.41);
}

.report-form .ranking-tit span {
    color: #aeffb1;
}

.report-form .ranking-form th {
    color: #5cc360;
    font-weight: normal;
}


/* index */

.menu-top {
    height: 60px;
    position: absolute;
    left: 260px;
    right: 0;
    top: 0;
    padding: 0;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    z-index: 999;
	border-bottom:1px solid #f3f3f3;
	border-left:1px solid #f3f3f3;
}

.btn-paograms {
    float: left;
    width: 6%;
    height: 60px;
    background: url(../images/ico8.png) no-repeat center;
    cursor: pointer;
    max-width: 60px;
}

.navofhd {
    height: 60px;
    overflow: hidden;
}

.menu-top .nav-top {
    float: left;
	width:60%;
}


.menu-top #nav li {
    height: 36px;
	float:left;
	overflow:hidden;
	margin:13px 15px 0 0;
}


.menu-top #nav li .form-controla{ width:100px; border:1px solid #eee; height:34px; background:#fafafa; border-radius:0; padding:0; font-size:14px; overflow:hidden; padding-left:6px;}

.menu-top #nav li .form-controla:focus {
    box-shadow:none;outline:0;
}


.search_button {
	width:120px;
	font-family:"微软雅黑";
	cursor:pointer;
	border-radius:2px;
	margin:1px 0;
	height:32px;
	line-height:32px;
	color:#fff;
	background:#95a0aa;
	border:1px solid #95a0aa;
}
.search_button:focus{
	box-shadow:none;
	outline:0;
}




.nav-right {
    width: 24%;
    display: flex;justify-content: flex-end;
}



.nav-right .menu-cache,.nav-right .nav-user {
    width:25px; height:60px;
    background: url(../images/ico2.png) no-repeat center; cursor:pointer;
}
.nav-right .nav-user {
    width:80px; background: url(../images/ico1.png) no-repeat center; position:relative;
}



.nav-right .nav-user .popover {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    border: 1px solid #eee;
    padding: 0;
    z-index: 997;
}

.nav-right .nav-user .popover ul {
    margin: 0;
}

.nav-right .nav-user .popover ul li {
    border-bottom: 1px solid #eee;
    height: 45px;
    line-height: 45px;
	font-size:14px;
}
.nav-right .nav-user .popover ul li:hover {
    background:#95a0aa ;
}
.nav-right .nav-user .popover ul li:hover a{
	color:#fff;
}
.popover-content{ padding:0;}



.nav-right .nav-remind i {
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 8px;
    color: #fff;
    background: #f00;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -5px;
}

.menu-list {
    position: fixed;
    right: 10px;
    top: 90px;
    bottom: 10px;
    padding: 10px;
    background: #fff;
    display: none;
    overflow-y: scroll;
    z-index: 996;
}

.menu-list-tit h4 {
    font-size: 15px;
    color: #797979;
    height: 25px;
    line-height: 23px;
    margin: 5px 0 10px;
}
.menu-list-tit h4 i{
    padding-left: 28px;
    height: 25px;
    float:left;
}

.menu-list-tit span {
    float: right;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-indent: 999999px;
}

.menu-list .list-content {}

.menu-list .list-content .list-group {
    display: block;
    float: left;
    margin-left: -1px;
    padding: 0;
    width: 113px;
    height: auto;
    border: 1px solid #f2f2f2;
    overflow: hidden;
}

.menu-list .list-content .list-group:first-child {
    margin-left: 0;
}

.menu-list .list-content .list-group h1 {
    display: none;
}

.menu-list .list-content .list-group h2 {
    padding: 8px;
    font-size: 12px;
    color: #555;
    font-weight: bold;
    line-height: 1.0em;
    background: #f9f9f9;
    margin: 0;
}

.menu-list .list-content .list-group ul {
    margin-left: 10px;
}

.menu-list .list-content ul li a {
    display: block;
    padding: 8px 10px;
    font-size: 12px;
    color: #686f7f;
    line-height: 1.0em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-list .list-content ul li a:hover {
    text-decoration: none;
}

.menu-list .list-content ul li a.nolink {
    font-weight: bold;
    cursor: default;
}

.menu-list .list-content ul li a.link {
    cursor: pointer;
}

.menu-list .list-content ul li a.link:hover {
    color: #fff;
    background: #55afeb;
}


/*left*/

.menu-left {
    background: #fdfdfd;
    background-size:cover;
    width: 260px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    z-index: 991;
}

.logo {
    border-bottom: 1px solid #f3f3f3;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
	background:#fff;
}

.logo img {
    margin: auto;
}

.main-container {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 280px;
    overflow: auto;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -webkit-overflow-scrolling: touch;
}

.main-container iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shrink .menu-top {
    left: 0;
}

.shrink .main-container {
    left: 0;
}

.shrink .menu-left {
    left: -260px;
}


/*left*/

.menu-left-list {
    overflow-y: auto;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
}

.menu-left-list .menu .button{ height:55px; line-height:55px; border-bottom:1px solid #f3f3f3; padding-left:40px; font-size:16px; background:url(../images/left_ico.png) no-repeat 218px center;}
.menu-left-list .menu .button a{ color:#95a0aa; display:block;}
.menu-left-list .menu .on{ background:#95a0aa url(../images/left_icoa.png) no-repeat 218px center;}
.menu-left-list .menu .on a{ color:#fff;}
.menu-left-list .menu .dropdown{ border-bottom:1px solid #f3f3f3;}
.menu-left-list .menu .dropdown li{height: 45px;
    line-height: 45px;
    background: url(../images/bg3.png) no-repeat left center;
    margin-left: 50px;
    color: #797979;
    border-bottom: 1px dotted #ddd;
    padding-left: 25px;}
.menu-left-list .menu .dropdown li span{ display:inline-block; width:70px;}
.menu-left-list .menu .dropdown li b{ display:inline-block; color:#f00; padding-left:10px;}

.menu-left-list .menu .dropdown li:last-child{ border:none;}






/*phone*/

@media (min-width: 480px) {}

@media (min-width: 767px) {}

@media (min-width: 980px) {}

@media (min-width: 1200px) {}


/*pc*/

@media (max-width: 1200px) {}

@media (max-width: 980px) {}

@media (max-width: 767px) {
    .logo {
        padding: 10px;
    }
    .shrink .btn-paograms {
        width: 16%;
    }
    .btn-paograms {
        width: 100%;
    }
    .menu-top .nav-top {
        display: none;
    }
    .shrink .menu-top .nav-top {
        width: 84%;
        height: 82px;
        overflow: hidden;
        display: block;
    }
    .menu-top .navofhd {
        overflow-x: auto;
        overflow-y: hidden;
        height: 100px;
    }
    .menu-top #nav {
        display: block;
    }
    .menu-top #nav li {
        float: left;
    }
    .report-data .item {
        height: auto;
        margin-bottom: 40px;
    }
    .report-form .report-form-chart {
        margin-bottom: 50px;
    }
    .main-container {
        overflow-y: scroll;
    }
	.menu-left-list{ top:108px; border-top:1px solid #e3e3e3;}
	.nav-right .menu-cache{ width:40px; height:40px; border:0;}
	.nav-right .nav-user{ width:40px; height:40px; border:0;}
	.nav-right .nav-user .popover{ top:33px; width:200%; left:-50%;}
	
}

@media (max-width: 480px) {

}

